<div class="grid">
  <div class="col-12 grid">
    <h2 class="col-12 lg:col-3 pl-3 mt-0 mb-1">Clusters</h2>
    <div class="lg:col-7"></div>
    <div class="col-12 lg:col-2 timing_btns" *ngIf="false">
      <button pButton pRipple type="button" label="30m" class="p-button-secondary p-button-text"></button>
      <button pButton pRipple type="button" label="1h" class="p-button-secondary p-button-text"></button>
      <button pButton pRipple type="button" label="2h" class="p-button-secondary p-button-text"></button>
      <button pButton pRipple type="button" label="6h" class="p-button-secondary p-button-text"></button>
      <button pButton pRipple type="button" label="12h" class="p-button-secondary p-button-text"></button>
      <button pButton pRipple type="button" label="1d" class="p-button-secondary p-button-text"></button>
    </div>
  </div>

  <div class="col-12 grid" *ngFor="let cluster of clustersToView">
    <div class="col-12  md:col-6 lg:col-3 cluster-card">
      <div class="surface-card p-2 pl-3 pr-3 shadow-2 border-round grid">
        <h3 class="text-3xl font-medium text-500 col-12 md:col-7" style="cursor: pointer;margin: 5px; padding: 0px;"
          [routerLink]="'/clusters/'+ cluster?.name">{{ cluster?.name }}</h3>
        <span class="node-status-badge status-special align-self-center col-12 md:col-4" *ngIf="!cluster.isRegistered"
          style="width: 120px;">Unregistered</span>
        <div class="col-12">
          <app-cluster-nodes-group-card [Cluster]="cluster"></app-cluster-nodes-group-card>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-9">
      <div class="grid">
        <div class="col-12 lg:col-6">
          <p-card class="grafana-card">
            <iframe width="100%" height="200" frameborder="0"
              [src]="(grafana.url + grafana.cpuChart + '&orgId=1&var-origin_prometheus=&var-hostname=All&var-node=All&var-device=All&var-interval=2m&var-maxmount=%2Fdatalake11&var&var-total=20&theme=light&var-group=' + cluster.name) | safe"></iframe>
          </p-card>
        </div>

        <div class="col-12 lg:col-6">
          <p-card class="grafana-card">
            <iframe width="100%" height="200" frameborder="0"
              [src]="(grafana.url + grafana.memoryChart + '&orgId=1&var-origin_prometheus=&var-hostname=All&var-node=All&var-device=All&var-interval=2m&var-maxmount=%2Fdatalake11&var&var-total=20&theme=light&var-group=' + cluster.name) | safe"></iframe>
          </p-card>
        </div>

        <div class="col-12 lg:col-6">
          <p-card class="grafana-card">
            <iframe width="100%" height="200" frameborder="0"
              [src]="(grafana.url + grafana.networkChart + '&orgId=1&var-origin_prometheus=&var-hostname=All&var-node=All&var-device=All&var-interval=2m&var-maxmount=%2Fdatalake11&var&var-total=20&theme=light&var-group=' + cluster.name) | safe"></iframe>
          </p-card>
        </div>

        <div class="col-12 lg:col-6">
          <p-card class="grafana-card">
            <iframe width="100%" height="200" frameborder="0"
              [src]="(grafana.url + grafana.diskChart + '&orgId=1&var-origin_prometheus=&var-hostname=All&var-node=All&var-device=All&var-interval=2m&var-maxmount=%2Fdatalake11&var&var-total=20&theme=light&var-group=' + cluster.name) | safe"></iframe>
          </p-card>
        </div>

      </div>
    </div>

  </div>
</div>