.cluster-card{
  .surface-card{
    align-content: flex-start;
    background-color: var(--surface-card) !important;
    min-height: 470px;
  }
}

.grafana-card .p-card {
  .p-card-content,
  .p-card-body {
    padding: 0.5rem;
  }
}