<p-menubar [model]="items" class="header">
  <ng-template pTemplate="start">
    <div class="pr-2">
      <img src="assets/images/Master_Logo_RGB.png" height="36" width="36" class="ml-1">
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <a role="menuitem" class="p-ripple p-element p-menuitem-link p-menuitem-link-active" [routerLink]="['/login']" *ngIf="!isLoggedIn">
      <span class="p-menuitem-text">Login</span>
    </a>
    <a role="menuitem" *ngIf="isLoggedIn">
      <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle" (click)="menu.toggle($event)" pTooltip="{{userName}}" tooltipPosition="bottom"></p-avatar>
      <p-menu #menu [popup]="true" appendTo="body" [model]="getProfileItems()"></p-menu>
    </a>
  </ng-template>
</p-menubar>