<section id="hero" class="d-flex justify-cntent-center align-items-center">
  <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

    <div class="carousel-item active">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Welcome to <span>E-Commerce</span></h2>
        <p class="animate__animated animate__fadeInUp">You can browse more than 1000 products from hundreds of stores</p>
        <a [routerLink]="['/products']" class="btn-get-started animate__animated animate__fadeInUp scrollto">Browse Products</a>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-container">
        <h2 class="animate__animated animate__fadeInDown">Varieties of Stores</h2>
        <p class="animate__animated animate__fadeInUp">Hundreds of stores between you fingers</p>
        <a [routerLink]="['/stores']" class="btn-get-started animate__animated animate__fadeInUp scrollto">Browse Stores</a>
      </div>
    </div>


    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section>