<p-tabView>
  <p-tabPanel header="Organized By Entity">
    <div>
      <app-health-issues-by-entity [NodesHealthIssuesGroups]="nodesHealthIssues"
      [ServicesHealthIssuesGroups]="servicesHealthIssues"></app-health-issues-by-entity>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Organized By Health Test">
    <ng-template pTemplate="content">
      <app-health-issues-by-health-test [WarnningHealthIssuesGroups]="warnningHealthIssuesGroups"
      [ErrorHealthIssuesGroups]="errorHealthIssuesGroups"></app-health-issues-by-health-test>
    </ng-template>
  </p-tabPanel>
</p-tabView>