<div class="aos-init m-2" data-aos="fade-up" data-aos-delay="100">
  <div class="member d-flex align-items-start">
    <div class="pic"><img src="assets/images/clothes.png" class="img-fluid" alt=""></div>
    <!-- <div class="pic"><img :src="store.img" class="img-fluid" alt=""></div> -->
    <div class="member-info">
      <h4>{{store.name}}</h4>
      <span>Clothes</span>
      <p>we have all you are looking for</p>
      <div class="social">
        <a title="Brances"><i class="ri-fill">{{store?.branchesNumber}}</i></a>
        <a title="Products"><i class="ri-fill">{{store?.productsNumber}}</i></a>
      </div>
    </div>
  </div>
</div>